$space: 8px;
$dialog-space: $space * 2;
$primary: hsl(337, 79%, 39%);
$error: #c70b0b;

@mixin maxWidth($breakpoint) {
  @media (max-width: $breakpoint - 1) {
    @content;
  }
}

@mixin minWidth($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
