@import '../App/theme.scss';

.ProductList {
  position: relative;

  &__list {
    position: relative;
    top: 0;
    padding: $space;
    margin-top: 52px;

    &::after {
      content: '';
      position: fixed;
      background: linear-gradient(
        0deg,
        #{$bgMain}00 0%,
        #{$bgMain}ff 40%
      );
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
    }
  }

  &__search {
    position: fixed;
    left: $space;
    top: $space;
    z-index: 100;
    width: calc(100vw - (#{$space * 4}));

    .TextField {
      box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    }

    .TextField__input {
      font-size: 22px;
      padding: $space;
      border-radius: 4px;
    }
  }

  &__splashIcon.MuiSvgIcon-root {
    display: block;
    margin: 50px auto 0;
    fill: #333;
    width: 150px;
    height: 150px;
  }

  @include maxWidth($break-mobile-menu) {
    &__list {
      .Product + .Product {
        margin-top: $space;
      }
    }
  }

  @include minWidth($break-mobile-menu) {
    &__search {
      left: $side-menu-width + $space;
      width: calc(100vw - (#{$side-menu-width + ($space * 4)}));
    }
  }

  @include minWidth($break-list-2col) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: $space;
      grid-row-gap: $space;
    }
  }

  @include minWidth($break-list-3col) {
    &__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @include minWidth($break-list-4col) {
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
