@import '../App/theme.scss';

.Menu {
  .MuiLinearProgress {
    &-root {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 300;
    }
  }

  @include maxWidth($break-mobile-menu) {}

  @include between($break-mobile-menu, $break-compact-menu) {}

  @include minWidth($break-mobile-menu) {}
}
