@import '../App/theme.scss';

.ShopList {
  &__list {
    padding: $space;
  }

  .Product {
    &--active {
      border-color: #111;
    }
  }

  &__zone {
    & + & {
      margin-top: $space * 3;
    }
  }

  &__zoneName {
    margin-bottom: $space;
    padding-left: $space;
    color: lighten($color: $bgMain, $amount: 20);
    text-shadow: 0 -1px 0 black;
  }

  &__product {
    display: flex;

    & + & {
      margin-top: $space;
    }

    .Product {
      width: 100%;
    }
  }
}
