@import "./theme.scss";

* {
  box-sizing: border-box;
}

html, body {
  background: #272827;
  color: #eeeeee;
}

@media (min-width: $break-side-menu) {
  .App {
    display: flex;

    &__content {
      width: 100%;
    }
  }

  .Header {
    width: 200px;
  }
}