@import "./theme.scss";

* {
  box-sizing: border-box;
}

html, body {
  background: $bgMain;
  color: #eeeeee;
}

.App {
  &__content {
    width: 100%;
    padding-bottom: $space * 3;

    > * {
      padding: $space;
      margin: $space;
    }
  }

  @include minWidth($break-mobile-menu) {
    &__content {
      padding-left: $side-menu-width;
    }
  }
}

.Select + .Select,
.TextField + .TextField,
.Select + .TextField,
.TextField + .Select {
  margin-top: $space;
}

