@import "./theme.scss";

* {
  box-sizing: border-box;
}

html, body {
  background: #272827;
  color: #eeeeee;
}

.App {
  padding-top: 5px;

  &__content {
    width: 100%;
  }

  @include minWidth($break-mobile-menu) {
    &__content {
      padding-left: 200px;
    }
  }
}
