@import '../theme.scss';

.TextField {
  position: relative;

  &__input {
    display: block;
    width: 100%;
    padding: $space;
    background: #181818;
    border: 1px solid #070707;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
    outline: none;
    color: white;

    &:focus {
      background: #1a1a1a;
      box-shadow: 0 0 4px $primary;
      border-color: $primary;
    }
  }

  &__empty {
    position: absolute !important; //.MuiButtonBase-root
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
  }

  &--error {
    .TextField__input {
      border-color: red;
      color: red;

      &:focus {
        box-shadow: 0 0 4px red;
      }
    }
  }

  &--empty {
    .TextField__empty {
      opacity: 0.1;
    }
  }
}
