@import "../theme.scss";

.DialogActions {
  display: flex;
  justify-content: space-between;
  padding: $space $dialog-space $dialog-space $dialog-space;

  .Button + .Button {
    margin-left: $space;
  }

  .Button--variant-confirm {
    width: 100%;
  }
}