@import '../App/theme.scss';

.Card {
  background: #1e1f1e;
  border: 1px solid #171616;
  padding: $space;
  font-size: 16px;
  transition: 200ms ease-out;
}

.Card--active {
  background: $primary;
}
