@import '../App/theme.scss';

.Card,
.MuiButtonBase-root.Card {
  display: block;
  width: 100%;
  background: #1e1f1e;
  border: 1px solid #171616;
  padding: $space;
  font-size: 16px;
  transition: 200ms ease-out;
  text-align: left;

  &--active {
    background: $primary;
  }
}
