@import '../App/theme.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  background-color: #000;
  padding-top: 4px;
  z-index: 100;

  .MuiLinearProgress {
    &-root {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }

    &-colorPrimary {
      background-color: $primary;
    }
  
    &-bar {
      background-color: darken($primary, 20%);
    }
  }

  &__button {
    width: 40px;
    height: 40px;

    &--active {
      .Header__buttonLabel {
        color: $primary;
      }

      .MuiSvgIcon-root {
        fill: $primary;
      }
    }
  }

  @media (max-width: $break-side-menu - 1) {
    width: 100%;
    padding-left: $space;
    padding-right: $space;

    .Header__button {
      width: 40px;
      height: 40px;
    }

    .Header__buttonLabel {
      display: none;
    }
  }

  @media (min-width: $break-side-menu) {
    min-height: 100vh;
    
    .Header__button {
      display: flex;
      width: 100%;
      text-align: left;

      &:hover {
        background-color: rgb(14, 14, 14);
      }
    }

    .Header__buttonIcon {
      display: flex;
      width: 40px;
      height: 40px;
      flex-shrink: 0;

      > * {
        margin: auto
      }
    }

    .Header__buttonLabel {
      width: 100%;
    }
  }
}
