@import "../theme.scss";

.Button {
  &.MuiButtonBase-root {
    padding: 0;
    background: $primary;
    border-radius: 2px;
    justify-content: flex-start;
  }
  
  &__label {
    padding: $space $space * 2 $space $space;
  }

  &__icon {
    padding: $space;
    display: flex;
  }

  svg {
    align-self: center;
    width: 16px;
    height: 16px;
  }

  &:hover {
    background: darken($primary, 5)
  }

  &--withLabel:not(&--withIcon) .Button__label {
    padding-left: $space * 2;
  }

  &--withIcon:is(&--withLabel) &__icon {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  &--danger {
    &.MuiButtonBase-root {
      background: $error;
    }

    &:hover {
      background: darken($error, 5)
    }
  }

  &--variant-cancel {
    &.MuiButtonBase-root {
      background: $error;
    }

    &:hover {
      background: darken($error, 5)
    }
  }

  &--variant-confirm {
    &.MuiButtonBase-root {
      background: #3a9b49;
    }

    &:hover {
      background: darken(#3a9b49, 5)
    }
  }

  &--disabled {
    &.MuiButtonBase-root {
      background: #696969;
    }
  }
}
