@import "../theme.scss";

.Button {
  &.MuiButtonBase-root {
    padding: $space $space * 2;
    background: $primary;
    border-radius: 2px;
  }

  &:hover {
    background: darken($primary, 5)
  }
}